apex==0.9.10dev
attrs==22.2.0
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==38.0.4
cryptography.egg==info
cuml==0.6.1.post1
docutils==0.20.1
fvcore==0.1.5.post20221221
HTMLParser==0.0.2
importlib_metadata==4.12.0
ipython==9.10.0
ipywidgets==8.1.8
Jinja2==3.1.2
jnius==1.1.0
keyring==23.9.3
lockfile==0.12.2
mmcv==2.2.0
mmdet==3.3.0
mmseg==1.3.0
mock==5.2.0
numpy==2.4.2
omegaconf==2.3.0
Pillow==9.4.0
Pillow==12.1.0
protobuf==6.33.5
pyOpenSSL==25.3.0
railroad==0.5.0
scikit_learn==1.3.1
scipy==1.17.0
setuptools==66.1.1
Sphinx==9.1.0
submitit==1.5.4
thread==2.0.6
torch==2.4.1
torch==2.1.0
torchmetrics==1.4.3
torchvision==0.19.1
tornado==6.5.4
tqdm==4.66.1
truststore==0.10.4
urllib3_secure_extra==0.1.0
xformers==0.0.34
xmlrpclib==1.0.1
